{% extends "layout.html" %}
{% block content %}
    <div class="content-section py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-header bg-danger text-white">
                        <h2 class="mb-0 text-white">Stranica nije pronađena (404)</h2>
                    </div>
                    <div class="card-body">
                        <div class="text-center mb-4">
                            <h1 class="display-1">404</h1>
                            <p class="lead">Nažalost, stranica koju tražite ne postoji.</p>
                            <hr>
                            <p>Možda ste uneli pogrešnu adresu ili je stranica pomerena ili uklonjena.</p>
                        </div>
                        <div class="text-center">
                            <a href="{{ url_for('public.application') }}" class="btn btn-outline-primary">Povratak na početnu stranicu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
